body{
  background-color: rgba(235, 236, 239, 1);
}
.content{
  position: relative;
  width: 80%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  height: 30rem;
  -webkit-box-shadow: 3px 5px 5px 2px rgba(0,0,0,0.38);
  -moz-box-shadow: 3px 5px 5px 2px rgba(0,0,0,0.38);
  box-shadow: 3px 5px 5px 2px rgba(0,0,0,0.38);
}
.cityname{
  position: absolute;
  bottom:10%;
  right: 27%;
  background-color:#343A40;
  width: 50%;
  height: 50%;
  text-align: center;
  font-size: 6rem;
  -webkit-box-shadow: 3px 5px 5px 2px rgba(0,0,0,0.38);
  -moz-box-shadow: 3px 5px 5px 2px rgba(0,0,0,0.38);
  box-shadow: 3px 5px 5px 2px rgba(0,0,0,0.38);

}
.table{
  height:93%;
}
form{
  height: 100%;
}
.form-control{
  height: 100%;
}
.mybtn{
  width: 100%;
  height: 100%;
  background-color: #343A40;
  color: white;
}
.mybtn:hover{
  background-color: #3E444A;

}
.col-sm-3{
  padding-left: 0;
}
.col-sm-9{
  padding-right: 0;
}